<a href="https://colab.research.google.com/github/alexandretannus/data-science-dio/blob/main/Python_Basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laços de Repetição

## Range

In [ ]:
for x in range(100):
    print(x)

In [ ]:
# número primo
a = int(input('Entre com um número: '))

div = 0
for x in range(1, a+1):
    resto = a % x
    if resto == 0:
        div += 1

if div == 2:
    print('número {} é primo'.format(a))
else:
    print('número {} não é primo'.format(a))

In [ ]:
#números primos de 1 a 100
for num in range(1, 101):
    div = 0
    for x in range(1, num+1):
        resto = num % x
        if resto == 0:
            div += 1

    if div == 2:
        print('número {} é primo'.format(num))

In [ ]:
#números primos de 1 a n
n = int(input('Entre com um número: '))

for num in range(1, n+1):
    div = 0
    for x in range(1, num+1):
        resto = num % x
        if resto == 0:
            div += 1

    if div == 2:
        print('número {} é primo'.format(num))

## While

In [ ]:
a = 0
while a < 10:
    print(a)
    a += 1

In [16]:
nota = int(input('Entre com a nota: '))

while nota > 10:
    print("Nota inválida")
    nota = int(input('Entre com a nota: '))

Entre com a nota: 15
Nota inválida
Entre com a nota: 68
Nota inválida
Entre com a nota: 4

In [17]:
resultado = 0
for x in range(1, 10):
    if x < 9:
        resultado += 1

print(resultado)

8

# Listas e tuplas

## Listas

In [35]:
lista = [1, 3, 5 , 7]
lista_animal = ['cachorro', 'gato', 'elefante']

In [ ]:
print(lista)
print(type(lista))

### Acessar elementos

In [ ]:
print(lista[0])
print(lista_animal[2])

### Percorrer lista

In [ ]:
for x in lista_animal:
    print(x)

In [ ]:
soma = 0
for x in lista: 
    soma += x
print(soma)

### Operações

In [ ]:
# Operações em listas de números
print(sum(lista))
print(max(lista))
print(min(lista))

In [ ]:
# operações em lista de strings
print(max(lista_animal)) # último em ordem alfabética
print(min(lista_animal)) # primeiro em ordem alfabética

### Verificação de existência de elemento na lista

In [ ]:

animal = 'lobo'
if animal in lista_animal:
    print('existe um {} na lista'.format(animal))
else:
    print('não existe um {} na lista'.format(animal))
    lista_animal.append(animal)

print(lista_animal)

### Retirar elemento da lista

In [ ]:
# Retira último elemento
animais = ['cachorro', 'gato', 'elefante']
animais.pop()
print(animais)

In [ ]:
# Retira elemento pelo índice
animais = ['cachorro', 'gato', 'elefante']
animais.pop(1) # retirar gato
print(animais)

In [ ]:
# Retira elemento pelo nome
animais = ['cachorro', 'gato', 'elefante']
animais.remove('cachorro') # retirar cachorro
print(animais)
animais.remove('elefante') # retirar elefante
print(animais)

### Ordenação

In [ ]:
# Ordenação
animais = ['cachorro', 'gato', 'elefante', 'lobo', 'arara']
animais.sort() 
print(animais)

In [ ]:
# Ordenação reversa
animais = ['cachorro', 'gato', 'elefante', 'lobo', 'arara']
animais.sort()
animais.reverse()
print(animais)

### Tamanho da lista

In [51]:
print(len(lista))
print(len(animais))

4
5

## Tuplas

In [49]:
tupla = (1, 10, 12, 14)
print(tupla)

(1, 10, 12, 14)

Tuplas são imutáveis. Não é possível alterar valores em um tupla

## Conversão lista <-> tupla

In [52]:
numeros = [1, 2, 9, 7, 10]
tupla_numeros = tuple(numeros)
print(numeros)
print(tupla_numeros)

[1, 2, 9, 7, 10]
(1, 2, 9, 7, 10)

In [53]:

tupla_animais = ('cachorro', 'gato', 'elefante', 'lobo', 'arara')
list_animais = list(tupla_animais)
print(tupla_animais)
print(list_animais)

('cachorro', 'gato', 'elefante', 'lobo', 'arara')
['cachorro', 'gato', 'elefante', 'lobo', 'arara']

# Conjuntos e subconjuntos

## Conjuntos

### Criação

In [21]:
conjunto = {1, 2, 3, 4}
print(type(conjunto))
print(conjunto)

<class 'set'>
{1, 2, 3, 4}

In [ ]:
# não permite repetição de elementos
conjunto2 = {1, 2, 3, 4, 2, 3}
print(conjunto2)

### Adição de elementos

In [ ]:
conjunto.add(10)
print(conjunto)

### Exclusão de elementos

In [22]:
conjunto.discard(2)
print(conjunto)

{1, 3, 4}

### União

In [8]:
conjunto = {1, 2, 3, 4}
conjunto2 = {8, 9, 10, 11}
conjunto_uniao = conjunto.union(conjunto2)
print(conjunto_uniao)

{1, 2, 3, 4, 8, 9, 10, 11}
{1, 2, 3, 4, 8, 9, 10, 11}

### Interseção

In [ ]:
conjunto = {1, 2, 3, 4, 8, 10}
conjunto2 = {8, 9, 10, 11}
conjunto_intersecao = conjunto.intersection(conjunto2)
print(conjunto_intersecao)

### Diferença

In [ ]:
conjunto = {1, 2, 3, 4, 8, 10}
conjunto2 = {8, 9, 10, 11}
# elementos do conjunto 1 que não estão no conjunto 2
conjunto_diferenca = conjunto.difference(conjunto2) 
print(conjunto_diferenca)
# elementos do conjunto 2 que não estão no conjunto 1
conjunto_diferenca2 = conjunto2.difference(conjunto) 
print(conjunto_diferenca2)

### Diferença simétrica

In [12]:
conjunto = {1, 2, 3, 4, 8, 10}
conjunto2 = {8, 9, 10, 11}
conjunto_diferenca_simetrica = conjunto.symmetric_difference(conjunto2)
print(conjunto_diferenca_simetrica)

{1, 2, 3, 4, 9, 11}

### Subconjuntos

In [15]:
conjuntoA = {1, 2, 3, 4}
conjuntoB = {2, 3}
subsetAB = conjuntoA.issubset(conjuntoB)
print(subsetAB)
subsetBA = conjuntoB.issubset(conjuntoA)
print(subsetBA)

False
True

### Superset

In [ ]:
conjuntoA = {1, 2, 3, 4}
conjuntoB = {2, 3}
supersetAB = conjuntoA.issuperset(conjuntoB)
print(supersetAB)
supersetBA = conjuntoB.issuperset(conjuntoA)
print(supersetBA)

### Transformação de lista em conjunto

In [ ]:
animais = ['cachorro', 'cachorro', 'gato', 'elefante', 'lobo', 'arara']
print(animais)
set_animais = set(animais)
print(set_animais)

### Transformação de conjunto em lista

In [20]:
setAnimais = {'cachorro', 'cachorro', 'gato', 'elefante', 'lobo', 'arara'}
print(setAnimais)
listAnimais = list(setAnimais)
print(listAnimais)
print(len(setAnimais))

{'cachorro', 'elefante', 'gato', 'arara', 'lobo'}
['cachorro', 'elefante', 'gato', 'arara', 'lobo']
5